

li{
    margin-left: 2em;
    }
    
    a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    
    }
    
     a:hover,
     a:focus{
        color: #1792d2;
    }