.article-featured{
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

img{

    max-width: 100%;
    display: block;
 
 }

 .article-title{
    font-size: 1.5rem;
  }

  .article-read-more,.article-info{
    font-size: .875rem;
  }

  .article-read-more{
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
  }

  .article-read-more:hover,
  .article-read-more:focus{
    color: #143774;
    text-decoration: underline;
  }

  .article-info{
    margin: 2em 0;
  }